body {
    background: url('{{ url_for("static", filename="../images/bgimg.png") }}') no-repeat center center fixed;
    background-size: cover;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #40E0D0; /* Turquoise */
    margin-top: 20px;
}

form {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #40E0D0;
    background-color: rgba(46, 46, 46, 0.9);
    border-radius: 15px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
    text-align: center;
}

label, input[type="text"] {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #E0E0E0;
    display: block;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: #3B3B3B;
    color: #E0E0E0;
}

input[type="submit"] {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #40E0D0;
    color: #1C1C1C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #20B2AA;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 90%;
    max-width: 1200px;
}

.card {
    background-color: #3B3B3B;
    border-radius: 10px;
    margin: 15px;
    width: 220px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 320px;
    display: block;
    object-fit: cover;
}

.card-info {
    padding: 15px;
    background: rgba(0, 0, 0, 0.9);
    color: #E0E0E0;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: left;
}

.card:hover .card-info {
    opacity: 1;
}

.card-info h3 {
    font-size: 1.2em;
    margin: 0;
    color: #FFD700; /* Gold for rating */
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rating-star {
    color: #FFD700;
    margin-right: 5px;
}

.trailer-btn {
    background-color: #40E0D0;
    color: #1C1C1C;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.trailer-btn:hover {
    background-color: #20B2AA;
}
